html, header, body, h1, h2, p {
    margin: 0;
    padding: 0;
}


:root {
    --pink: #e842f4;
    --ppurple: #ac41f4;
    --bpurple: #7c41f4;
    --blue: #1f85c0;
    --teal: #35cca4;
    --yellow: #dbd82c;
}

body {
    /* font-family: 'Montserrat', sans-serif; */
    /*font-family: 'Inconsolata', monospace; */
    font-family: 'Karla', sans-serif;
    color: #dcd0c0;
    font-size: 20px;
    line-height: 1.5em;
    
    background-image: url(../images/wall.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

.body-overlay{
    z-index: -5;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: auto;
    top: 0px;
    left: 0px;
    background: #dcd0c0A6;
}

a:link {
    text-decoration: none;
    color: inherit;
}

a:hover {
    font-weight: bold;
    color: inherit;
    text-decoration: underline;
}

a:visited {
    color: inherit;
    text-decoration: inherit;
}

/****** Section Header ******/

.section-header {
    line-height: 72px;
    text-align: center;
}

.right {
    float: right; 
}

.section-header h1:before, .section-header h1:after {
    display: block;
    content: '';
    height: 2px;
    background: linear-gradient(to var(--direction, left), #dcd0c0, transparent);
  }

.section-header h1:after {
--direction: right;
}

.section-header h1 {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items : center;
    grid-gap: 10px;
  }
  

/****** nav (icons) *******/

nav {
    /* display: absolute; */
    /* background: black; */
    /* padding: 10px; */
} 

.nav-wrapper {
    display: grid;
    width: 400px;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    justify-items: center;
    align-content: center;   
    
    padding-bottom: 11em;
    /*margin-right: 30px;*/
}

.nav-icon-wrapper { 
    width: 60px;
    height: 60px;
    border-radius: 22%;
    overflow: hidden;
    border: 2px solid #dcd0c0;
    background: none;

    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.nav-icon-wrapper img {
    width: 100%;
    height: 100%;
}

.nav-icon-wrapper:hover {
    /* background: linear-gradient(#e842f4, #ac41f4); */
    background: #dcd0c0;
}

/****** banner ******/

.banner-background {
    position: absolute;
    margin-top: 15vh;
    z-index: -1;
    background: #8e533dc5;
    width: 100%;
    height: 65vh;
}

.banner-wrapper{
    width: 100%;
    height: 100vh;
    
}

.banner {
    display: grid;
    grid-template-columns: 1fr 1.4fr;
    grid-template-rows: 1fr 1fr;
    align-items: end;
    height: 100%;
    /* background-image: url('../images/mee-smaller.png');
    background-repeat: no-repeat;
    background-position: left 150px bottom -50px; */
}

.empty-div {
    /* height: 400px; */
    
    margin-left: 20%;
    grid-row: span 2;
    padding-bottom: 5em;
}

.empty-div img {
    height: 100%;
}

/****** typewriter ******/

.typewriter-wrapper {
    display: grid;
    padding-left: 1em;
    /* justify-content: center; */
    
}

.typewrite {
    /* color: rgb(89, 77, 95); */
    color: #c0b083;
    line-height: 1.5em;
}

/****** about me ******/

.about-me-wrapper {
    /* background: -webkit-linear-gradient(var(--pink), var(--bpurple) );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    background: #8e533dc5;
    margin-top: 5vh;
    margin-right: 55vh;
    margin-left: 5vh;
    border-radius: 1vh;
    padding: 1%;
    text-align: justify;
    
}

/****** Education ******/

.education-wrapper {
    /* background: -webkit-linear-gradient(var(--ppurple), var(--blue) );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    background: #8e533dc5;
    margin-top: 15vh;
    margin-left: 55vh;
    margin-right: 5vh;
    border-radius: 1vh;
    padding: 1%;
    text-align: justify;
}

/****** Experience ******/

.experience-wrapper {
    /* background: -webkit-linear-gradient(var(--blue), var(--teal) );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    background: #8e533dc5;
    margin-top: 15vh;
    margin-right: 55vh;
    margin-left: 5vh;
    border-radius: 1vh;
    padding: 1%;
    text-align: justify;
}

.cv-item {
    margin-bottom: 40px;
}

/****** Projects ******/
.project-wrapper {
    /* background: -webkit-linear-gradient(var(--teal), var(--ppurple) );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    background: #8e533dc5;
    margin-top: 15vh;
    margin-left: 40vh;
    margin-right: 5vh;
    border-radius: 1vh;
    padding: 1%;
    text-align: justify;
    text-align: center;
}

/* .project-cards-wrapper {
    margin: 0 auto;
    padding-top: 3.5%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 30px;
   
    justify-content: center;
    justify-items: center;
   
} */

.project-card { 
    width: 200px;
    height: 200px;
    /* justify-items: center;
    justify-content: center; */
    margin: auto;
    display: block;
    border-radius: 2%;
    overflow: auto;

    /* for the overlay */
    position: relative;
}


.project-card img {
    z-index: 5;
    width: 100%;
    height: 100%;
    position: absolute;
    margin: auto;
}

.project-card-overlay {
    z-index: 7;
    background: #8e533dc5;
    color: #dcd0c0;
    text-align: center;
    justify-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 0.3s ease-in-out;
    /*-webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); */
}

.project-card-overlay:hover {
    /* -webkit-transform: translate3d(0px, -200px, 0px); 
    transform: translate3d(0px, -200px, 0px); 
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; */
    opacity: 0; 
}

/****** Slick carousel center mode ******/

.project-slick-wrapper {
    padding: 50px;
    width: 950px;
    justify-content: center;
    margin-top: 3vh;
    margin-left: 33vh;
    margin-right: 5vh;
}

.inner {
    width: 200px;
    height: 200px;
    border-radius: 2%;
    background: white;
}

.slick-active { 
    padding: 20px 0; 
}
  
.slick-center {
    transform: scale(1.08);
    opacity: 1;
}
  
.slick-slide:not(.slick-active) { 
    margin: 20px 0; 
    opacity: .45;
}
  
.child { 
    width:100%; 
}
  
.project-card:not(.slick-active) { 
    cursor: pointer; 
}

.slick-prev:before, .slick-next:before {
    color: #8e533d!important;
}

/****** Footer ******/

footer {
    height: 80px;
    display: block;
    background: #8e533dc5;
    margin-top: 50px;
    
}

.footer-wrapper {
    margin: 0 auto;
    padding-top: 2%;
    display: grid;
    width: 290px;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    justify-items: center;
    align-content: center;   
}

.foot-icon-wrapper { 
    width: 30px;
    height: 30px;
    border-radius: 22%;
    overflow: hidden;
    border: 2px solid #dcd0c0;
    background: none;

    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.foot-icon-wrapper img {
    width: 100%;
    height: 100%;
}

.foot-icon-wrapper:hover {
    /* background: linear-gradient(#e842f4, #ac41f4); */
    background: #dcd0c0;
}


